<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ola's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 19.04.2017, 11:25</p>
        <h2><a href="">My first post</a></h2>
        <p>Aeneau eu leo quam. Pellentesque ornare sem lacinia quam venenatis</p>
    </div>

    <div>
        <p>published: 19.04.2017, 11:27</p>
        <h2><a href="">My second post</a></h2>
        <p>Aeneau eu leo quam. Pellentesque ornare sem lacinia quam venenatis</p>
    </div>
</body>
</html>